.blog {
    padding : 110px 0 0;
}

.post {
    text-align: center;
}

.post__wrapper {
    padding: ;
}

.post__date {
    color: #555555;
    font-size: 14px;
    margin: 80px 0 0 ;
    
}

.post__title {
    margin: 10px 0 0 ;
    font-family: 'Conv_SourceSansPro-SemiBold';
    font-size: 24px;
}

.post__text {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 80%;
    color: #333333;
    line-height: 2em;
}


.post__img {
    width: 100%;
}

.tape {
    margin: 95px 0 0;
    padding: 75px 0 70px;
    background: #efefef;
}

.TItem {
    border-left: 6px solid #000;
    padding: 10px 20px ;
}

.TItem__title {
    font-family: 'Conv_SourceSansPro-SemiBold';
    font-size: 18px;
}

.TItem__date {
    color: #555555;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.075em;
}