.facts {
    background: url('../img/photo/facts__bg.png') no-repeat center;
    background-size: cover;
    color: #eeeeee;
    text-align: center;
    padding: 100px 0 140px;
}


.facts__title {
    margin: 0 0 60px;
}

.facts__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color:rgba(238, 238, 238, 0.9);
    background:rgba(238, 238, 238, 0.4);
    padding: 30px 50px ;
}

.facts__item {
    min-width: 50%;
    margin: 30px 0;
    
}

.facts__number {
    font-size: 27px;
    font-family: 'Conv_SourceSansPro-Bold';
    margin: 0 0 15px;
    letter-spacing: 0.09em;
}

.facts__discr {
    font-size: 21px;
    margin: 15px 0 0;
    letter-spacing: 0.09em;
}

.facts__line {
    width: 75px;
    margin: 0 auto;
    border-bottom: 4px solid #4d4c4b;
}

.facts__line-r {
    width: 75px;
    margin: 0 auto;
    border-bottom: 9px solid #e64a19;
}

@media ( max-width: 840px ) {
    .facts__wrapper {
        padding: 30px 0px ;
    }
}

@media (max-width: 700px) {
    .facts__wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 30px 50px ;
    }
}
