.partfolio {
    padding: 0 0 155px;
}

.partfolio__title {


}

.partfolio__offer {
    margin: 25px 0 24px;
    line-height: 2em;
}

.partfolio__img {
    width: 100%;
    margin-bottom: 15px;
}

.line-red {
    margin: 0 auto;
    width: 75px;
    border-bottom: 7px solid #e64a19;
}

.nav-item {
    margin: 0 10px;
}