.qout {
    padding: 70px 0 60px;
    background: #212121;
    color: #eeeeee;
    text-align: center;
}

.qout__img {
    margin: 0 auto;
    display: block;
    height: 16px;
}

.qout__text {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.9em;
}

.qout__autor {
    font-size: 20px;
    font-style: italic;
    line-height: 1.9em;
    margin-top: 15px;
}