/* page */

.page {
    height: 100vh;
    width: 100%;
    background: url('../img/photo/page_bg.png') no-repeat center ;
    background-size: cover;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

body {
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}




.nav-text  {
    font-family: 'Conv_SourceSansPro-Bold';
}

.page__content {
    text-align: right;
    margin-top: 150px;
}

.page__line {
    position: relative;
    display: block;
    width: calc(100% - 140px);
    height: 20px;
    z-index: 99;
    margin-bottom: 15px;
}

.page__line::before {
    content: '';
    position: absolute;
    width: 140px;
    height: 2px;
    background: black;
}


.page__title {
    margin-bottom: 40px;
}

.page__text {
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 42px;
}

.page__btn {
    font-size: 18px;
    line-height: 2em;
    color: black;
    display: block;
    border: 2px solid black;
    padding: 0 80px;
    width: 270px;
    margin-left: auto;
}

.page__btn:hover {
    background: black;
    color: white;
}




@media (max-width:500px) {
    .page__title {
        font-size: 45px;
    }
}

/* intro */

.intro {
    padding: 160px 0 120px;
    text-align: center;
}

.intro__title {
    margin-bottom: 65px;
}

.intro__text {
    line-height: 2.1em;
}

.intro__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* services */

.services {
    background: var(--grey);
}

.SCard {
    padding: 75px 0 100px;
    width: 280px;
    margin: 0 auto;
}

.SCard__img {
    margin-bottom: 28px;
}

.SCard__title {
    margin-bottom: 15px;
}

.SCard__text {
    line-height: 1.7em;
}

/* team */

.team {
    padding: 100px 0 135px;
    text-align: center;
}

.team__subtitle {
    margin: 40px 0 40px;
    line-height: 2em;
}


.tcard {
    margin: 40px 0 0;
}

.tcard__title {
    margin: 45px 0 0;
}

.tcard__discr {
    margin: 15px 0 0;
    font-size: 15px;
}

/* features */

.featured {
    padding: 100px 0 140px;
    
}

.featured__title {
    text-align: center;
    margin-bottom: 30px;
}

.featured__subtitle {
    text-align: center;
    line-height: 2em;
    margin-bottom: 100px;
}

.FCard {
    color: var(--light);
    background: var(--dark);
    height: 370px;
    padding: 75px 40px 50px 60px;
}


.FCard__wraper {
    display: flex;
}

.FCard__tag {
    font-size: 12px;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
}

.FCard__text {
    font-size: 24px;
    line-height: 1.5em;
    letter-spacing: 0.06em;
    display: block;
    height: 150px;
}

.FCard__UserImage {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}



.FCard__name {
    font-family: 'Conv_SourceSansPro-SemiBold';
    padding: 0;
    margin: 12px 0 0;
    font-size: 12px;
    letter-spacing: 0.05em;
    
}

.FCard__date {
    font-family: 'Conv_SourceSansPro-SemiBold';
    padding: 0;
    margin: 10px 0 0;
    font-size: 12px;
    
}

/* partfolio */

.partfolio {
    padding: 0 0 155px;
}

.partfolio__offer {
    margin: 25px 0 24px;
    line-height: 2em;
}

.partfolio__img {
    width: 100%;
    margin-bottom: 15px;
}

.line-red {
    margin: 0 auto;
    width: 75px;
    border-bottom: 7px solid #e64a19;
}

.nav-item {
    margin: 0 10px;
    padding: 12px 12px 7px;
}

.mixitup-control-active {
    color: #e64a19;
    border-bottom: 4px solid #e64a19;
  
}

/* qout */

.qout {
    padding: 70px 0 60px;
    background: #212121;
    color: #eeeeee;
    text-align: center;
}

.qout__img {
    margin: 0 auto;
    display: block;
    height: 16px;
}

.qout__text {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.9em;
}

.qout__autor {
    font-size: 20px;
    font-style: italic;
    line-height: 1.9em;
    margin-top: 15px;
}


/* tweets */

.tweets {
    text-align: center;
    padding: 80px 0 90px;
}

.tweets__text {
    margin: 40px 0 0;
    font-size: 20px;
    line-height: 1.9em;
    
}

.tweets__img {
    margin: 55px 0 0 ;
    height: 60px;
}

.tweets__icon {
    font-size: 30px;
}

.tweets__adres {
    font-family: 'Conv_SourceSansPro-Bold';
    font-size: 16px;
    margin: 35px 0 0;
}

/* facts */

.facts {
    background: url('../img/photo/facts__bg.png') no-repeat center;
    background-size: cover;
    color: #eeeeee;
    text-align: center;
    padding: 100px 0 140px;
}


.facts__title {
    margin: 0 0 60px;
}

.facts__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color:rgba(238, 238, 238, 0.9);
    background:rgba(238, 238, 238, 0.4);
    padding: 30px 50px ;
}

.facts__item {
    min-width: 50%;
    margin: 30px 0;
    
}

.facts__number {
    font-size: 27px;
    font-family: 'Conv_SourceSansPro-Bold';
    margin: 0 0 15px;
    letter-spacing: 0.09em;
}

.facts__discr {
    font-size: 21px;
    margin: 15px 0 0;
    letter-spacing: 0.09em;
}

.facts__line {
    width: 75px;
    margin: 0 auto;
    border-bottom: 4px solid #4d4c4b;
}

.facts__line-r {
    width: 75px;
    margin: 0 auto;
    border-bottom: 9px solid #e64a19;
}

@media ( max-width: 840px ) {
    .facts__wrapper {
        padding: 30px 0px ;
    }
}

@media (max-width: 700px) {
    .facts__wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 30px 50px ;
    }
}

/* blog */

.blog {
    padding : 110px 0 0;
}

.post {
    text-align: center;
}

.post__wrapper {
    padding: ;
}

.post__date {
    color: #555555;
    font-size: 14px;
    margin: 80px 0 0 ;
    
}

.post__title {
    margin: 10px 0 0 ;
    font-family: 'Conv_SourceSansPro-SemiBold';
    font-size: 24px;
}

.post__text {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 80%;
    color: #333333;
    line-height: 2em;
}


.post__img {
    width: 100%;
}

.tape {
    margin: 95px 0 0;
    padding: 75px 0 70px;
    background: #efefef;
}

.TItem {
    border-left: 6px solid #000;
    padding: 10px 20px ;
}

.TItem__title {
    font-family: 'Conv_SourceSansPro-SemiBold';
    font-size: 18px;
}

.TItem__date {
    color: #555555;
    font-size: 14px;
    margin: 0;
    letter-spacing: 0.075em;
}

/* footer */

.footer {
    background: #212121;
    margin-top: 0 auto;
    padding: 80px 0 0;
    color: #eeeeee;
}

.form__wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.footer__title {
    color: #eeeeee;
    letter-spacing: normal;
    margin-bottom: 15px;
}

.footer__text {
    color: #999999;
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 30px;
}

.form__input {
    background: transparent;
    border-bottom: 1px solid #474747;
    width: 40%;
    margin-right: 10%;
    padding: 0 0 5px;
    color: #eeeeee;
}

.form__massage {
    background: transparent;
    width: 90%;
    border-bottom: 1px solid #474747;
    margin-bottom: 90px;
    padding: 0 0 5px;
    color: #eeeeee;
}

.form__btn {
    display: block;
    margin-top: 0 auto;
    background: transparent;
    font-family: 'Conv_SourceSansPro-SemiBold';
    color: #999999;
    margin-bottom: 20px;
}

.footer__subtitle {
    margin-bottom: 30px;
}

.footer__link {
    color: #999999;
    font-size: 14px;
    line-height: 1.8em;
}

.footer_nav__link {
    color: #eeeeee;
}

.footer__row {
    padding: 0 12px 40px;
    display: flex;
    justify-content: space-between;

}

.copyright__text {
    color: #999999;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}


.footer__nav {
    display: flex; 
}

.footer__item {
    color: #999999;
    font-size: 13px;
    line-height: 1.8em;
    margin-left: 34px;
}

.example__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__line {
    border-bottom: 1px solid #474747;
    display: block;
    padding: 0;
    margin: 0 0 35px ;
    max-width: 100%;
}


@media (max-width:540px) {
    .controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  
}
@media (max-width:960px) {
    .footer__row {
        flex-direction: column-reverse;
    }
    .footer__nav {
        display: flex;
        padding: 0 0 30px; 
    }
    .footer__item {
        margin-left: 15px;
    }
    
}


